body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    padding: 40px;
    text-align: center;
}

form {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 0 10px #ccc;
    border-radius: 8px;
}

input[type="submit"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    border: pointer;
    border-radius: 4px;
}

input[type="text"],
input[type="email"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
}